<h1>Users</h1>

<%= link_to "New User", new_user_path %>
<div class="users">

<table>
<th>Users</th>
<th>Email</th>
<% @users.each do |user| %>

<tr>
	<td id="rows"><%= user.name %></td>
	<td id="rows"><%= user.email %></td>
</tr>

<% end %>
</table>
</div>
