<h1> Reservations</h1>
<table>
<th class="rows">Restaurant</th>
<th class="rows">Date</th>
<th class="rows">Time</th>
<% @reservations.each do |reservation| %>
<tr>
	<td class="rows"><%= reservation.restaurant.name %></td>
	<td class="rows"><%= reservation.date %></td>
	<td class="rows"><%= reservation.time %></td>
</tr>
<% end %>
</table>