// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users{
	border: 2px solid;
	border-radius: 1px;
}

#rows{
	padding-left: 30px;
}